@import "./base/reset";

header {
  background-image: url(https://startbootstrap.github.io/startbootstrap-clean-blog/assets/img/home-bg.jpg);
  color: white;
  width: 100%;
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  p {
    font-size: 20px;
  }

  .start {
    font-size: 30px;
    font-weight: bold;
  }

  .nav {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    gap: 50px;
    font-size: 15px;
    font-weight: bold;
  }

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
  }

  .header-text {
    min-height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .blog {
      font-size: 70px;
      font-weight: 30px;
    }
  }
}

.sec1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 120vh;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  .texts {
    height: 100vh;
    text-align: start;
    .text {
      width: 100%;
      height: 23vh;
      cursor: pointer;
      border-bottom: 1px solid rgb(208, 207, 207);
      margin: 15px;
      h2 {
        font-size: 35px;
      }
      .p1 {
        font-size: 25px;
      }
      .p2 {
        font-size: 20px;
        color: #6c757d;
        font-style: italic;
        span{
            color: black;
            &:hover{
                color: #0085a1;
            }
        }
      }
      h2,
      .p1 {
        &:hover {
          color: #0085a1;
        }
      }
    }
  }
  button{
    background-color: #0085a1;
    color: white;
    padding: 20px 30px;
    border: transparent;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    &:hover{
        background-color: #014c5b;
    }
  }
}

footer{
    width: 100%;
    height: 13vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .icon{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
   .fa-brands{
        font-size: 45px;
        cursor: pointer;
        &:hover{
            color: #0085a1;
        }
    }
   small{
    font-size: 20px;
    margin: 20px;
    color: gray;
    font-style: italic;
   }
}